.errorMessage {
    background-color: #ddd;
    font-family: monospace;
    padding: 5px;
}

.help {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

.closed {
	display: none;
}

.tip {
	margin-top: 1em;
	margin-bottom: 1em;
}
