.header {
    position: fixed;
    top: 0;
    color: white;
    background-color: blue;
    left: 0;
    width: 100%;
    margin: 0;
    padding-left: 8px;
    z-index: 2;
}

.link {
    color: white;
    text-decoration: none;
}

.app {
	margin-top: 45px;
}

body {
    font-family: Helvetica;
}

code {
    background-color: #ddd;
    color: black;
    padding: 2px;
}
