.step {
	max-width: 750px;
	margin: auto auto 50px;
}

.stepName {
	text-align: center;
}

.failure,
.loading {
	padding: 10px;
	margin-top: 10px;
}

.failure {
	background-color: red;
	color: white;
}

.loading {
	font-style: italic;
}

.link {
	color: white;
}

.stepWrapper {
	background-color: white;
	position: relative;
	z-index: 1;
}
