.step {
	max-width: 700px;
	margin: auto auto 50px;
}

.stepName {
	text-align: center;
}

.success,
.failure,
.loading {
	padding: 10px;
	margin-top: 10px;
}

.success {
	background-color: green;
	color: white;
}

.failure {
	background-color: red;
	color: white;
}

.loading {
	font-style: italic;
}

.link {
	color: white;
}

.breadcrumbs {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    padding: .2em 0;
    list-style: none;
    background-color: rgba(455,455,455, .9);
    margin: 0;
    border-top: 1px #ccc solid;
}

.breadcrumbSuccess:before {
	color: green;
}

.breadcrumbLink {
    text-decoration: none;
    color: black;
}

.breadcrumbActive {
	font-weight: 800;
}
